<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <appSettings/>
  <connectionStrings>
    <add name="SQLConnstring" connectionString="server=.;database=suanming;uid=sa;pwd=123456" />
  </connectionStrings>
    <system.web>
      <compilation debug="true"/>
    </system.web>
</configuration>
